<style data-teleport="head">
  .front-cover {
    margin: var(--margin);
    height: calc(var(--height) - var(--offset));
    page-break-after: always;
    border: 1px solid #fff;
    position: relative;

    > img {
       position: absolute;
       bottom: 0;
       left: 0;
       width: 100%;
       image-rendering: optimizeQuality;
     }

    .logo {
      position: absolute;
      top: calc(2cm);
      left: 50%;
      transform: translateX(-50%);
  
      > div {
        width: 3cm;
        text-align: center;
        height: 3cm;
  
        img {  /* New styles specific to logo img */
          width: 100%;
          height: 100%;
          position: static;
          filter: brightness(0) invert(1);
        }
      }
    }

    section {
      color: #fff;
      padding: 0.635cm;
      max-width: 10.25cm;
      word-wrap: break-word;
      margin-top: calc(var(--height) / 2 - var(--offset) - 2cm);
      font-size: 13pt;

      h1 {
        font-size: 32pt;
        font-weight: 500;
        line-height: 1.1;
        margin-top: 0.5em;
        margin-bottom: 0.2em;
        color: #fff;
        string-set: title content(text);
      }

      h2 {
        line-height: 1;
        font-size: 10pt;
        font-family: monospace;
        margin-: 0.2em;
      }
    }
  }

  @page {
    @top-center {
      font-size: 9pt;
      color: #7f7f7f;
      content: 'Americas International xPerts 2025';
    }
  }

  @page :first {
    margin: 0;
    background: var(--md-primary-fg-color);

    @top-center {
      content: none;
    }

    @bottom-center {
      content: none;
    }
  }
</style>
<div class="front-cover">
  <img src="theme/background.png">
  <div class="logo">
    <div>
      <img src="theme/logo-dark.svg">
    </div>
  </div>
  <section>
    <h1>Lab Guide</h1>
    <h2>Americas International xPerts 2025</h2>
  </section>
</div>