<div class="cover-page">
  <img src="../background.png" alt="Background" class="no-shadow">
  <div class="logo">
    <div>
      <img src="../logo-dark.svg" alt="Logo" class="no-shadow">
    </div>
  </div>
  <section>
    <h1>Lab Guide</h1>
    <h2>Americas International xPerts 2025</h2>
  </section>
</div>

<!-- Blank Page for Isolation -->
<div style="page-break-after: always;"></div>